<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="phpunit.xsd"
         bootstrap="bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">

   <testsuites>
       <testsuite name="Application Test Suite">
           <directory suffix=".php">./tests</directory>
       </testsuite>
   </testsuites>

   <preferences>
       <preference name="logging.dest" value="/tmp" />
   </preferences>

</phpunit>
